
@media only screen and (max-width: 600px) {
    .background-blur {
        padding: 15px;
        max-width: 90%;
    }

    h1 {
        font-size: 20px;
    }

    .box {
        padding: 8px;
    }

    input[type="email"],
    input[type="password"] {
        font-size: 14px;
    }

    .btn {
        font-size: 14px;
        padding: 8px;
    }
}


@media only screen and (min-width: 601px) and (max-width: 768px) {
    .background-blur {
        max-width: 70%;
    }

    h1 {
        font-size: 22px;
    }

    .box {
        padding: 10px;
    }

    input[type="email"],
    input[type="password"] {
        font-size: 15px;
    }

    .btn {
        font-size: 15px;
        padding: 10px;
    }
}


@media only screen and (min-width: 769px) {
    .background-blur {
        max-width: 450px;
    }

    h1 {
        font-size: 24px;
    }

    .box {
        padding: 12px;
    }

    input[type="email"],
    input[type="password"] {
        font-size: 16px;
    }

    .btn {
        font-size: 16px;
        padding: 12px;
    }
}