* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(bg6.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    color: white;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease, border-radius 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.2); 
}

.container:hover {
    box-shadow: 0 0 20px rgba(56, 100, 245, 0.8); 
    border-radius: 15px; 
}

.container h1 {
    border-bottom: 6px solid hsl(237.65deg 100% 25.5% / 95%);
    margin-bottom: 28px;
    padding: 12px 0;
    font-size: 40px;
}

.box {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 3px solid hsl(237.65deg 100% 25.5% / 95%);
}

.box input {
    width: 75%;
    margin: 10px 0;
    padding: 5px 8px;
    border-radius: 6px;
    font-size: 19px;
    background: transparent;
    outline: none;
    border: none;
    color: white; 
}

.box input::placeholder {
    color: rgba(255, 255, 255, 0.7); 
}

.box span {
    width: 26px;
    margin: 3px;
    font-size: 26px;
    align-content: center;
    color: white; 
}

.btn {
    cursor: pointer;
    padding-top:5px;
    padding: 6px 22px;
    margin: 16px;
    font-size: 21px;
    outline: none;
    background: none;
    color: white;
    border: 2px solid hsla(237, 78%, 27%, 0.95);
    border-radius: 7px;
    transition: background 0.3s ease, color 0.3s ease;
}

.btn:hover {
    border:2px solid white;
    background: hsla(237, 97%, 15%, 0.95);
}